.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  position: absolute;
  height: 84px;
  text-align: center;
  bottom: -84px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  @media (min-width: $tablet) {
    top: 0;
  }

  @media (min-width: $desktop) {
    height: 97px;
  }
}
