.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $dark-grey;
}

.page__body {
  min-height: 100%;
  margin: 0;
}
